.gameSetup {
    background-color: #2068BA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 1rem;

    h2 {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 2rem;
    }

    .mainContent {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 1rem;

        .mainContentTitle {
            flex: .5;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

}