.waterCellSetup {
    border: 1px solid white;
    height: clamp(30px, 4.55vw, 100px);
    width: clamp(30px, 4.55vw, 100px);
}

.hoverWaterCellSetup {
    background-color: #4ceee396;
}

.waterCellSetupError {
    background-color: red;
    cursor: not-allowed;
}

.waterCellSetupClicked {
    background-color: #00ffee;
}

.waterCellHoverSpacer {
    opacity: .5;
    background-color: rgba(255, 255, 255, 0.294);
}