.gameSetup {
    height: 100vh;
    width: 100vw;
    background-color: #2068BA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    h2 {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 3rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(10, clamp(30px, 4vw, 100px));
        column-gap: 0rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .gridInstruction {
            color: white;
            font-size: 2rem;
            left: -12rem;
            top: 14rem;
            position: absolute;
        }

        .gridCell {
            border: 2px solid white;
            height: clamp(30px, 4vw, 100px);
            width: clamp(30px, 4vw, 100px);
        }

        .hoverCell {
            background-color: #26fff194;
        }

        .errorCell {
            pointer-events: none;
            background-color: #ff262694;
        }
    }

    .gridError {
        cursor: not-allowed;
    }
}