.enemyGrid {
    display: grid;
    grid-template-columns: repeat(10, clamp(30px, 4.45vw, 100px));
}

.waterCell {
    border: 1px solid white;
    height: clamp(30px, 4.45vw, 100px);
    width: clamp(30px, 4.45vw, 100px);
}